@import "tailwindcss";

@tailwind base;

:root {
    --primary-color: #2C3930; /* 主题主色 */
    --secondary-color: #3F4F44; /* 辅助色 */

}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

#root {
    min-height: 100vh;
    width: 100%;
}

#root-layout {
}

